:host {
    display: block;
}


/* Scrollbar styling for sidebar */
aside::-webkit-scrollbar {
    width: 4px;
}

aside::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

aside:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}